<div class="hero-div">
    <div class="nav">
        <a (click)="routeToHome()"><h2 class="logo-text">dConnect</h2></a>
        
        <div class="wrap-nav">
            <a fragment="how" (click)="navigateToSection('how')"><h2>How it works?</h2></a>
            <a (click)="routeToMetamask()"><h2>Log In</h2></a>
        </div>
    </div>
    <div class="hero flexx">
        <div class="hero-img">    
        </div>
        <a class="join-us flexx" (click)="routeToMetamask()">Get Started</a>
    </div>
    <div class="hero flexx">
        <div class="hero-img second-img">

        </div>
    </div>
    <div id="how" class="hero flexx third">
        <div class="hero-img third-img">
            
        </div>
    </div>
</div>